<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta property="og:title" content="Spotify Bot" />
    <meta property="og:description" content="Automate your Spotify streaming experience with our powerful bot. Control playback, track streams, and manage your listening sessions with ease. Built with real-time monitoring and seamless Spotify integration." />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://imgur.com/rluLo3S.png"/>
    <meta property="og:url" content="https://spotify-api.fly.dev"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "SpotifyBot", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <%= @inner_content %>
  </body>
</html>
